@{
    ViewData["Title"] = "About";
}
<h3 class="text-center">@ViewData["Title"]</h3>

<div>
    <div style="margin-left: 3em; margin-right: 1em;">
        <h4>Restaurant management app application.</h4>
        <p>
            developed using  ASP.net MVC Core 3.1, .NET Core Web Api,  EntityFrameworkCore and SQL Server.
        </p>

    </div>
</div>

<div style="max-width: 500px; height: 70px;">

    @{
        Html.RenderPartial("SocialMedia");
    }
</div>
